.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;    
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
}

.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

.message, .ownMessage {
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px 0;
  max-width: 75%;
  word-wrap: break-word;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.ownMessage {
  background-color: #28a745;
  color: white;
  align-self: flex-start;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
}

.msgInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sendBtn {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s, opacity 0.3s;
}

.sendBtn:hover {
  background-color: #0056b3;
}

.sendBtn:disabled {
  background-color: #007bff;
  opacity: 0.5;
  cursor: not-allowed;
}
