.sidebar {
  width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.searchInput {
  margin-bottom: 16px;
}

.userList {
  flex-grow: 1;
  overflow-y: auto;
}

.userItem {
  transition: background-color red;
}

.userItem:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.createGroupBtn {
  align-self: flex-end;
}
