.sidebar {
  min-width: 250px; /* Fixed width for desktop */
  padding: 16px;
  display: flex;
  flex-direction: column;
  width:fit-content;
}

.searchInput {
  margin-bottom: 16px;
}

.userList {
  flex-grow: 1;
<<<<<<< Updated upstream
  overflow-y: auto;
=======
  overflow-y: auto; /* Allows scrolling if user list is long */
  min-width: 200px;
>>>>>>> Stashed changes
}

.userItem {
  transition: background-color 0.2s; /* Smooth background color transition */
}

.userItem:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.createGroupBtn {
  align-self: flex-end; /* Align create group button to the right */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on mobile */
    padding: 12px; /* Adjust padding for mobile */
  }
  
  .userList {
    min-width: 100%; /* Ensure user list fills full width */
  }
  .createGroupBtn{
    margin-right:'20px'
  }
}
